
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #000000;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 30px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  font-weight: normal;
  color: #333;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 3px solid #e6bd43;
}


.content article {
  width: 60%;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  font-weight: bold;
  background: #e6bd43;
  color: #252525;
  padding: 10px 30px;
  margin-top: 10px;
  border: 2px solid #252525;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
  background-color: #252525; 
  color: #e6bd43; 
  border-color: #e6bd43;
}

.btn2 {
  margin-top: 20px;
  display: inline-block;
  font-weight: bold;
  background-color: transparent; 
  color: #252525; 
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #252525; 
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}


.btn2:hover {
  background-color: #252525; 
  color: #e6bd43; 
  border-color: #e6bd43; 
}

.about {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  padding: 20px;
  text-align: center;
  background: #f9f9f9;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .background-video {
      display: none;
  }
}


.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.3; 
  z-index: 1; 
}

.about .content {
  margin-top: 130px;
  position: relative;
  z-index: 2;
}

.about img {
  width: 100%;
  height: auto;
}

.services {
  background: #fff;
  padding: 70px;
  text-align: center;
}

.service-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-list article img {
  height: auto;
  margin-bottom: 15px;
}


.service-list article {
  width: 30%;
}

.services1 {
  background: #fff;
  padding: 70px;
  text-align: center;
}

.service-list1 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.service-list1 article {
  width: 50%;
}

.aboutus {
  background-color: #e6bd43;
  padding: 30px;
}

.aboutus .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus .image-container {
  flex: 0 0 400px;
  height: 400px;
  margin-right: 20px;
}

.aboutus .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus .service-list {
  flex: 1;
}

.aboutus .aboutustext {
  margin-left: 30px;
}

.newsletter {
  background: #e4e3e3;
  color: #000000;
  padding: 80px;
  text-align: center;
}

.newsletter form {
  margin-top: 20px;
}

.newsletter button {
  background: #e6bd43; 
  color: #252525; 
  padding: 10px 30px; 
  border: 2px solid #252525; 
  border-radius: 5px; 
  transition: color 0.3s, background-color 0.3s; 
}

.newsletter button:hover {
  background-color: #252525; 
  color: #e6bd43; 
  border-color: #e6bd43; 
}


.newsletter input[type=email] {
  background-color: #fff;
  color: #333; 
  padding: 10px 30px; 
  border: 2px solid #252525; 
  border-radius: 5px; 
  margin-right: 10px; 
}


footer {
  background: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.social-links a {
  margin: 0 5px;
  color: #eee;
}

@media (max-width: 768px) {
  .service-list {
    flex-direction: column;
  }

  .service-list article {
    width: 100%;
    margin-bottom: 20px;
  }

  .aboutus .container {
    flex-direction: column;
  }

  .aboutus .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

#toTop {
  background-color: #000; 
  color: #fff; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
  text-decoration: none; 
  opacity: 0.6; 
  cursor: pointer; 
}

#toTop:hover {
  opacity: 1; 
}

.main-container {
  max-width: 1600px;
  margin: 0 auto; 
}

.social-links img {
  width: 100px; 
  height: 100px; 
  transition: transform 0.3s ease;
  filter: invert(100%);
}

.social-links img:hover {
  transform: scale(1.2); 
}

.about {
  position: relative;
}

.background-image {
  width: 100%;
  height: auto; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.background-image {
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  object-fit: cover; 
}

.text-content {
  position: absolute;
  top: 50%; /* Centers content vertically */
  right: 0; /* Aligns content to the right of the container */
  z-index: 2; /* Above the background image */
  background: rgba(255, 255, 255, 0.9); /* Less transparent white background */
  padding: 40px; /* Increased padding for larger area */
  width: calc(60% - 80px); /* Increased width, accounting for padding */
  max-width: 700px; /* Maximum width, adjust as needed */
  transform: translateY(-50%); /* Centers content vertically */
  text-align: left; /* Aligns text inside the content area to the left */
  margin-right: 50px;
}

/* You can add more styles here as needed */


.text-content h1,
.text-content p {
  margin-bottom: 20px; /* Space below the heading and paragraph */
}

.text-content button {
  background: #e6bd43; /* Example button color */
  color: #252525; /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners for the button */
  font-weight: bold; /* Makes the text bold */
}

/* ... (rest of your styles) ... */

/* Mobile Styles */
@media (max-width: 768px) {
  .text-content {
      position: relative; /* Resets to default positioning */
      top: auto; /* Clears the top positioning */
      right: auto; /* Clears the right positioning */
      left: auto; /* Clears the left positioning */
      transform: none; /* Clears the transform */
      width: 100%; /* Full width of the container */
      max-width: none; /* Allows the text box to expand to full width */
      padding: 20px; /* Adjust padding as needed */
      margin: 0 auto; /* Centers the content box */
      text-align: center; /* Centers the text inside the content box */
  }
}

.clients {
  background: #e6bd43;
  padding: 70px;
  text-align: center;
}

/* Existing Styles */
.service-list2 img {
  /* Add your existing styles here (if any) */
  margin-right: 40px; /* Adjust the margin to bring images closer */
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) { /* Adjust the max-width based on your breakpoint */
  .service-list2 {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center images vertically */
  }

  .service-list2 img {
      margin-right: 0; /* Remove right margin on mobile */
      margin-bottom: 10px; /* Add space between stacked images */
  }
}

/* Contact Us Section styles */
.contact-us {
  text-align: center;
  padding: 40px;
  background: #fff; /* Change this to match your site's design */
}

.contact-us h2 {
  margin-bottom: 30px; /* Space below the main heading */
}

.contact-us article {
  margin-bottom: 20px; /* Space below each article for mobile view */
}

.contact-us > h2 {
  width: 100%;
}

.contact-form,
.contact-info {
  width: 48%; /* Adjusts the width of each column */
  display: inline-block;
  vertical-align: top; /* Keeps columns top aligned */
}

.contact-form h3,
.contact-info h3 {
  color: #333; /* Your desired color for the subheadings */
  margin-bottom: 10px;
}

/* Form styles */
.contact-form form {
  text-align: left;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333; /* Change as per your color scheme */
}

.contact-form input[type="text"],
.contact-form textarea {
  width: calc(100% - 22px); /* Adjusts for padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  resize: vertical; /* Allows only vertical resizing */
  max-height: 300px; /* Optional: sets a maximum height when resizing */
}

/* Contact Info styles */
.contact-info {
  text-align: left;
}

.contact-info address,
.contact-info phone,
.contact-info email {
  margin-bottom: 10px;
  font-style: normal; /* address tag usually italicized by default */
}

.contact-info a {
  color: #0066cc;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contact-form,
  .contact-info {
      width: 100%; /* Full width on smaller screens */
      display: block;
  }

  .contact-form h3,
  .contact-info h3 {
      text-align: center;
  }
}
